{% extends "base.html" %}
{% block content %}
<h1>메인 페이지</h1>
<div class="row">
	{% for product in products %}
		<div class="col-3 card">
			<img src="{{ product.image}}" class="card-img-top" alt="product_image" style='height:20rem'>
			<div class="card-body">
				<h5 class="card-title">{{ product.title }}</h5>
				<p class="card-text">{{ product.description|truncatechars:50 }}</p>
				<div class='d-flex justify-content-between'>
					<p class="card-text">가격: \{{ product.price }}</p>
					{% if user.is_authenticated %}
						{% if product in user.cart.all %}
							<a href="{% url "shop:addcart" product.pk %}" style='color: inherit;'>
								<i class="fa-solid fa-star"></i>
							</a>
						{% else %}
							<a href="{% url "shop:addcart" product.pk %}" style='color: inherit;'>
								<i class="fa-regular fa-star"></i>
							</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock content %}